###########################################################################
# git ignore file
###########################################################################
99特色功能/Call DLL in Python/ConsoleApplication2/Release/*
*.tlog